<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a,
        h1,
        h2 { 
            display: block;
            text-align: center;
        }

        body {
            margin: 0%;
            padding: 0%;
            background-color: #2c1111;
            color: aliceblue;
        }
    </style>
</head>

<body>
        {{!--
        <link rel="stylesheet" href="abc.css"> --}}
        <h1>Hello sir this page doen't <exist class=""></exist>
        </h1>
        <h1>Back to home page</h1>
        <h2><a href="/">click here</a></h2>
        {{errorpage}}        
        {{!-- node variable --}}
        {{>footer}}

</body>

</html>