<style>
    html{
    font-size: 100.5%;
    }
    .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    .footer{
        background-color: blue;
        color: yellowgreen;
        border: 2px dashed red;
        border-radius: 10px;
        font-size: 30px;
        text-align: center;
        margin-top: auto;
    }
    h2{
        margin: 0;
    }
</style>
<div class="footer">
    <h2>This is footer</h2>
</div>